---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIco from '../components/Icons/Likedin.astro';
import GithubIco  from '../components/Icons/Github.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hola, Soy Mateo Vélez 
				<a href="https://www.linkedin.com/in/mateo-velez-toro/"
					 target="_blank" 
					 class="items-center flex justify-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-65">Soy una persona que disfruta de lo que hace, solucionando problemas a traves del código, a lo largo de mi formación he trabajado en varios proyectos, muchos de esos trabajos han sido colaborando con mis compañeros y muchos otros fueron hechos por mi mismo esto me ha permitido desarrollar habilidades en los diversos lenguajes que e usado tales como [C# - JavaScript - Html - Css - .Net]</h2>
			<ul class="flex flex-row gap-x-4 items-center">
				<li>
					<a href="https://www.linkedin.com/in/mateo-velez-toro" target="_blank">
						<LinkedinIco class= "w-6 h-6"/>
					</a>
				</li>
				<li>
					<a href="https://github.com/Mateo020528" target="_blank">
						<GithubIco/>
					</a>
				</li>
				
			</ul>			
		</section>
	</main>
</Layout>
