<header class="flex justify-around items-center py-7  w-[1120px] mx-auto">
<img 
class="rounded-full w-14 h-14"
src="../../public/assets/FotoMateo.jpeg" alt="imagen"
alt ="image"
/>
<nav class="flex flex-row gap-x-9 opacity-40">
    <a href="/" class="">Home</a>
    <a href="/about" class="">About</a>
    <a href="/projects" class="">Projects</a>
    <a href="contact" class="">Contact</a>
</nav>
</header>   