---
import "@fontsource-variable/onest";
import Header from '../components/Header.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark; 
	
	}
	html {
		font-family: "Onest Variable", sans-serif;
	}
	body{
		background-color: rgb(7, 12, 23);

/* Gradiente radial para los círculos */
background-image: radial-gradient(circle farthest-side, rgba(89, 11, 67, 0.456), rgba(255, 255, 255, 0)),
				  radial-gradient(circle farthest-side, rgba(87, 4, 64, 0.15), rgba(255, 255, 255, 0));

/* Posicionar los gradientes para simular el efecto */
 background-position: -20% -10%, 120% -10%;

/* Tamaño de los círculos */
background-size: 500px 500px, 500px 500px;

/* Para asegurarte que los gradientes no se repitan */
 background-repeat: no-repeat;
}

.pill{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	border:rgb(86, 86, 86) 1px solid;
	gap: 0.5em;
	opacity: 0.8;
}
ol{
	text-decoration: none;
}
li{
	text-decoration: none;
}
	
</style>
